# Environment variables (keep .env.template tracked)
.env
.env*.local

# Common ignores
node_modules
.next/
.DS_Store
.vercel/

# IDE
.idea/

# TypeScript / Next.js generated
*.tsbuildinfo
next-env.d.ts
